*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: white;

}
header{
    background-color: #191e2b;
}
.header-claro{
    background-color: #e0e0e0;
    color: #424242;
}
.h1{
    margin: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 1px;
}
.menu-botones{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
button{
    color: white;
    background-color: #191e2b;
    border: none;
    margin: 3px;
    padding: 0 10px;
    font-size: 14px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.editor-contenedor {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.meme-contenedor{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #30343f;
    padding: 0px 20px;
}
.meme-contenedor-claro{
    background-color: #eeeeee;
}
.imagen-editable{
    width: 100%;
    max-width: 610px;
    height: 610px;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
}
.texto-meme{
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    padding: 20px 30px;
    position: static;
    font-size: 40px;
}
#imagen-meme{
    flex-grow: 1;
    background-size: cover;
    width: 100%;
}
#texxto-arriba{
    top: 0;
}
#texto-abajo{
    bottom: 0;
}
.boton-descargar{
    margin-top: 30px;
    padding: 15px 15px;
    height: auto;
    background-color: #2e7d32;
    display: flex;
}
.boton-descargar:hover {
    background-color: #236327;
}
aside{
    width: 250px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #252935;
    padding: 30px 15px;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
}
.panel-claro{
    background-color: #fafafa;
    color: #424242;
}
.panel-control{
    margin-bottom: 20px;
}
.panel-titulo{
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    font-size: 18px;
    text-align: center;
}
.titulo-panel-control{
    margin-bottom: 8px;
    width: 100%;
    font-size: 12px;
    margin-top: 0;
}
.panel-control-columnas{
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}
.panel-control-color{
    position: relative;
    height: 36px;
    display: flex;
    background-color: #393e49;
    border-radius: 3px;
    align-items: center;
}
.panel-control-color:hover{
    background-color: #4e5565;
}
.panel-control-columnas .panel-control-columna {
    width: calc(50% - 5px);
    margin-bottom: 0;
}
input{
    border: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: block;
    outline: 0;
    background-color: transparent;
}
button, select, textarea{
    border: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: block;
    outline: 0;
    background-color: #393e49;
}
.button{
    border: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: block;
    outline: 0;
    background-color: transparent;
}
button:hover{
    background-color: #4e5565;
}
.button-claro{
    color: #424242;
    background-color: #e0e0e0
}
.button-claro:hover{
    background-color: #bdbdbd;
}
.panel-control-color > input[type='color'] {
    padding: 1px 2px;
    align-items: center;
}
.panel-control-color > span {
    position: static;
    left: 35px;
    top: 50%;
    font-size: 14px;
}
.panel-control-input{
    width: 100%;
    height: 36px;
    background-color: #393e49;
    border-radius: 3px;
    padding: 5px 10px;
    margin-bottom: 5px;
    color: white;
}
.panel-control-input:hover{
    background-color: #4e5565;
}
.panel-control-input-claro{
    background-color: #e0e0e0;
    color: #424242;
}
.panel-control-input-claro:hover{
    background-color: #bdbdbd;
} 
.claro{
    background-color: #e0e0e0;
    color: #424242;
}
.claro:hover{
    background-color: #bdbdbd;
}

.panel-control-deslizante{
    margin-top: 15px;
}
label{
    display: block;
    font-size: 12px;
}
input[type='range'] {
    width: 100%;
    background-color: #5a5d68;
    border-radius: 10px;
    appearance: none;
    height: 6px;
    margin-top: 10px;
}
.boton-reestablecer{
    background-color: #393e49;
}
.boton-reestablecer-claro{
    background-color: #e0e0e0;
    color: #424242;
}
.boton-reestablecer:hover{
    background-color: #4e5565;
}
.boton-reestablecer-claro:hover{
    background-color: #bdbdbd;
}
#cerrar-panel{
    position: fixed;
    top: 15px;
    right: 15px;
    border-radius: 3px;
}
.panel-control-titulo{
    margin-bottom: 8px;
    width: 100%;
    font-size: 12px;
    margin-top: 0;
}
.contenedor{
    display: flex;
    align-items: center;
}
.botones-opciones, .botones-contenedor{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
#tamaño-texto{
    margin-bottom: 0;
}
.oculto{
    display: none;
}
.fondo{
    background-color: transparent;
    position: absolute;
}
@media (max-width: 700px)
{   
    aside{width: 100%;}
    .texto-meme{font-size: 35px;
                padding: 13px 50px;}
    .h1{font-size: 26px;}
}
@media (max-width: 600px)
{
    .imagen-editable{height: 560px;}
    .texto-meme{font-size: 30px;}
}
@media (max-width: 500px)
{
    .imagen-editable{height: 460px;}
    .texto-meme{font-size: 25px;
        padding: 10px 50px;}
}
@media (max-width: 400px)
{
    .imagen-editable{height: 360px;}
    .texto-meme{font-size: 20px;
        padding: 8px 50px;}
}
@media (max-width: 300px)
{
    .imagen-editable{height: 250px;}
    .texto-meme{font-size: 15px;
        padding: 6px 50px;}
    .h1{font-size: 20px;}

}